body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;

  /* Same dark theme */
  background: radial-gradient(circle at top, #0a0f1f, #000);

  color: white;
  overflow-x: hidden;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #007ACC;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --accent-color: #61DAFB;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
