/* Navbar Background Same as Main Page */
.custom-navbar {
  background: rgba(0, 0, 0, 0.92);
  border-bottom: 1px solid rgba(0, 255, 198, 0.18);

  padding: 18px 0;
  transition: 0.3s ease;
}

/* Remove Bootstrap Shadow */
.custom-navbar.shadow {
  box-shadow: none !important;
}

/* Logo Styling */
.logo {
  font-size: 26px;
  letter-spacing: 1px;
}

.logo span {
  color: #00ffc6;
}

/* Nav Links */
.nav-hover {
  color: white !important;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}

/* Hover underline animation */
.nav-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #00ffc6;
  transition: 0.3s ease;
}

.nav-hover:hover::after {
  width: 100%;
}

.nav-hover:hover {
  color: #00ffc6 !important;
}

/* Resume Button */
.resume-btn {
  padding: 10px 18px;
  border-radius: 25px;
  background: #00ffc6;
  color: black;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.resume-btn:hover {
  background: white;
  transform: scale(1.08);
}

